/* ==============================
공통 스타일
================================= */

/* 초기화 */
*{margin: 0; padding: 0;}
body{overflow-x: hidden; font-size: 16px; color: #111; letter-spacing: 0; font-family: 'SUIT', sans-serif;}
a{text-decoration: none; color: #111;}
img{vertical-align: middle;}
ul{list-style: none;}
button{border: none;}
input::placeholder{ color: #111; padding-left: 10px; font-size: 20px; font-weight: 500;}

/* 공통 클래스 */
.wrap { /* max-width: 1920px; */ margin: 0 auto; width: 100%; }
body.noscroll{ overflow: hidden;}

/* =================================================================
header 부분
==================================================================== */


/* head-menu 부분 */
#head{background-color: #fff;}
#head .head-wrap::after{content: ""; clear: both; display: block;}
#head .head-wrap .head-menu{ align-items: center; height: 134px; position: relative; z-index: 1001; display: flex; flex-direction: row; justify-content: space-between; padding: 0 30px;}
#head .head-wrap .head-menu .head-menu-button{ background: url(../img/ico-head-menu.png) no-repeat 50% 50%; width: 60px; height: 60px; cursor: pointer;}
#head .head-wrap .head-menu .menu-wrap{ position: absolute; left: 0; top: 100%; width: 471px; background-color: #fff;  opacity: 0; pointer-events: none; transform: translateY(-20px); transition: all 1s ease; }
#head .head-wrap .head-menu .menu-wrap.on { opacity: 1; transform: translateY(0); pointer-events: auto; }
#head .head-wrap .head-menu .menu-wrap .menu{ display: flex; flex-direction: column; gap: 60px; text-align: left; margin-left: 30px; margin-top: 70px;}
#head .head-wrap .head-menu .menu-wrap .menu li{height: auto; padding: 0; margin: 0; line-height: 1.2;}
#head .head-wrap .head-menu .menu-wrap .menu li a{ font-size: 24px; font-weight: 700; color: #111; transition: all .3s ease; }
#head .head-wrap .head-menu .menu-wrap .menu li a:hover{ color: #941111; }
#head .head-wrap .head-menu .menu-wrap #form1{ display: flex; justify-content: center; margin-top: 431px; position: relative; align-items: center; }
#head .head-wrap .head-menu .menu-wrap #form1 #sch{ width: 419px; height: 48px; color: #111; background-color: #EEEEEE; border: none; font-size: 20px; font-weight: 500;}
#head .head-wrap .head-menu .menu-wrap #form1 #sch-btn{position: absolute; top: 50%; right: 33px; transform: translateY(-50%); text-indent: -9999px; border: none; background: url(../img/ico-search.png) no-repeat center; width: 30px; height: 30px;}
#head .head-wrap .head-menu .menu-wrap .quick-btn{ display: flex; justify-content: center; gap: 14px; align-items: center; flex-direction: row; margin: 24px auto;}
#head .head-wrap .head-menu .menu-wrap .quick-btn li{border-radius: 10px; cursor: pointer; font-size: 10px; height: auto; padding: 4px 14px; margin: 0; line-height: 1.2; background-color: #111; color: #fff; }
#head .head-wrap .head-menu .head-logo{ position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); }
#head .head-wrap .head-menu .head-util .head-util-list{display: flex; flex-direction: row; align-items: center; gap: 31px; font-size: 24px; font-weight: 800; letter-spacing: 5px;}

/* banner 부분 */
#head .head-wrap .banner{ position: relative; background: url(../img/img-banner.png) no-repeat center; background-size: cover; height: 820px;}
#head .head-wrap .banner .copyright{ position: absolute; right: 0; top: 50%; transform: translateY(-50%) rotate(90deg); color: #fff; }
#head .head-wrap .banner .banner-title{ position: absolute; top: 560px; left: 52px; display: flex; flex-direction: column; }
#head .head-wrap .banner .banner-title span{ color: #fff; line-height: 55px; letter-spacing: 3px; }
#head .head-wrap .banner .banner-title .title-1{ font-weight: 800; font-size: 48px; }
#head .head-wrap .banner .banner-title .title-2{ font-weight: 600; font-size: 32px; }
#head .head-wrap .banner .banner-title .banner-button{ margin-top: 30px;}
#head .head-wrap .banner .banner-title .banner-button a span{ font-size: 20px; font-weight: 700; letter-spacing: 2px; background-color: #fff; color: #111; border-radius: 40px; padding: 10px 25px;  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25); transition: all .3s ease;}
#head .head-wrap .banner .banner-title .banner-button a span:hover{ background-color: #111; color: #fff;}

/* =================================================================
section-1 부분
==================================================================== */

/* .text-wrap 부분 */
#sec-1{background: linear-gradient(to bottom, #f9f9f9, #c0c0c0);}
#sec-1 .sec-1-wrap { position: relative; display: flex; max-width: 1920px; width: 100%; margin: 0 auto;}
#sec-1 .sec-1-wrap .text-wrap{margin-top: 160px; margin-left: 80px;}
#sec-1 .sec-1-wrap .text-wrap .title{font-size: 64px;}
#sec-1 .sec-1-wrap .text-wrap p{font-size: 24px; }
#sec-1 .sec-1-wrap .text-wrap .txt-eng{ margin-top: 20px; line-height: 40px; font-weight: 500;}
#sec-1 .sec-1-wrap .text-wrap .txt-kor{margin-top: 20px; line-height: 40px; font-weight: 500;}

/* .text-button-wrap 부분 */
#sec-1 .sec-1-wrap .text-button-wrap{margin-top: 44px; }
#sec-1 .sec-1-wrap .text-button-wrap a .text-button{transition: all .3s ease; padding: 8px 21px; width: 139px; display: flex; flex-direction: row; gap: 10px; align-items: center; justify-content: center; background-color: #fff; color: #111; box-shadow: 4px 4px 4px rgba(0, 0, 0, 1); border-radius: 40px;}
#sec-1 .sec-1-wrap .text-button-wrap a .text-button:hover{ background-color: #111; color: #fff;}
#sec-1 .sec-1-wrap .text-button-wrap a .text-button span{font-size: 20px; font-weight: 600; line-height: 30px;}
#sec-1 .sec-1-wrap .text-button-wrap a .text-button .icon{background: url(../img/ico-Circled-Right.png) no-repeat center; background-size: contain; width: 30px; height: 30px; display: inline-block; vertical-align: middle; transition: all .3s ease;}
#sec-1 .sec-1-wrap .text-button-wrap a .text-button:hover .icon{background-image: url(../img/ico-circled-Right-white.png);}

/* .슬라이드 부분(.slide) */
#sec-1 .sec-1-wrap .swiper { max-width: 562px; width: 100%; height: auto; position: relative; margin-top: 105px; margin-right: 158px; margin-bottom: 154px;}
#sec-1 .sec-1-wrap .swiper .swiper-wrapper .swiper-slide { border-radius: 10px; overflow: hidden; }

#sec-1 .sec-1-wrap img#glow{ z-index: 1000; position: absolute; right: 80px; top: 84px; transform: translateY(-25%);}

/* =================================================================
section-2 부분
==================================================================== */

/* sec-2 상단 안내 부분 */
#sec-2{background: #111; color: #fff;}
#sec-2 .sec-2-wrap{width: 1318px; margin: 0 auto; padding: 82px 0; text-align: center; position: relative;}
#sec-2 .sec-2-wrap h1{ font-size: 64px; font-weight: 700; }
#sec-2 .sec-2-wrap .button{ position: absolute; top: 122px; right: 0;}
#sec-2 .sec-2-wrap .button a span{ font-size: 15px; font-weight: 900; color: #fff; margin-right: 20px; }

/* .product-wrap 부분 */
#sec-2 .sec-2-wrap .product-wrap{ margin-top: 83px; display: flex; flex-direction: row; justify-content: space-evenly;}
#sec-2 .sec-2-wrap .product-wrap .box{ display: flex; flex-direction: column; gap: 13px; }
#sec-2 .sec-2-wrap .product-wrap .box-b{ margin-top: 151px;}
#sec-2 .sec-2-wrap .product-wrap .box .square{ width: 238px; height: 238px;  position: relative; overflow: hidden;}
#sec-2 .sec-2-wrap .product-wrap .box .square1{ background: url(../img/img-sec2-img1.png) no-repeat center;}
#sec-2 .sec-2-wrap .product-wrap .box .square2{ background: url(../img/img-sec2-img2.png) no-repeat center;}
#sec-2 .sec-2-wrap .product-wrap .box .square3{ background: url(../img/img-sec2-img3.png) no-repeat center;}
#sec-2 .sec-2-wrap .product-wrap .box .square4{ background: url(../img/img-sec2-img4.png) no-repeat center;}
#sec-2 .sec-2-wrap .product-wrap .box .square .square-util { position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.35); width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; opacity: 0; visibility: hidden; transform: scale(0.95); transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s; }
#sec-2 .sec-2-wrap .product-wrap .box .square .square-util.on { opacity: 1; visibility: visible; transform: scale(1); }
#sec-2 .sec-2-wrap .product-wrap .box .square .square-util p{ line-height: 45px; font-size: 24px; font-weight: 700;}
#sec-2 .sec-2-wrap .product-wrap .box .text{ font-size: 15px; font-weight: 900; }


/* =================================================================
section-3 부분
==================================================================== */

/* sec-3 상단 부분 */
#sec-3{background: #F1F1F1; color: #111;}
#sec-3 .sec-3-wrap{width: 1378px; margin: 0 auto; padding: 30px 0; text-align: center; position: relative; padding-bottom: 73px;}
#sec-3 .sec-3-wrap h1{ font-size: 64px; font-weight: 700; }
#sec-3 .sec-3-wrap .button{ position: absolute; top: 122px; right: 0;}
#sec-3 .sec-3-wrap .button a span{ font-size: 15px; font-weight: 900; color: #111; margin-right: 20px; }

/* .product-wrap 부분 */
#sec-3 .sec-3-wrap .product-wrap{display: flex; flex-direction: row; gap: 151px; margin-top: 68px;}
#sec-3 .sec-3-wrap .product-wrap li .product-box .product-text-wrap{margin-top: 20px;}
#sec-3 .sec-3-wrap .product-wrap li .product-box .product-text-wrap p{font-weight: 500; font-size: 16px;}
#sec-3 .sec-3-wrap .product-wrap li .product-box .product-text-wrap .text{display: flex; gap: 11px; justify-content: center; align-items: center; margin-top: 7.48px;}
#sec-3 .sec-3-wrap .product-wrap li .product-box .product-text-wrap .text span:first-child{ color: #fff; background-color: #941111; padding: 4px 7px; border-radius: 5px;}
#sec-3 .sec-3-wrap .product-wrap li .product-box .product-text-wrap .text span:nth-of-type(2){ font-weight: 800; }
#sec-3 .sec-3-wrap .product-wrap li .product-box .product-text-wrap .text span:last-child{ color: #8E8A83; text-decoration: line-through; font-weight: 800;}


/* =================================================================
section-4 부분
==================================================================== */

/* sec-4 상단 부분 */
#sec-4{background: #111; color: #fff;}
#sec-4 .sec-4-wrap{width: 100%; padding: 30px 0; text-align: center; position: relative; padding-bottom: 76px;}
#sec-4 .sec-4-wrap h1{ font-size: 64px; font-weight: 700; }
#sec-4 .sec-4-wrap h1+h1{ font-size: 56px; font-weight: 700; margin-top: 70px; }
#sec-4 .sec-4-wrap .ico-insta{position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
#sec-4 .sec-4-wrap .ico-insta a img{transform: rotate(0deg); transition: all .7s ease;}
#sec-4 .sec-4-wrap .ico-insta:hover img{transform: rotate(360deg);}
#sec-4 .sec-4-wrap .swiper-2{margin-top: 108px;}
#sec-4 .sec-4-wrap .swiper-2 .swiper-slide{width: auto;}


/* =================================================================
footer 부분
==================================================================== */

/* .footer-top 부분 */
#footer{background-color: #fff;}
#footer .footer-wrap{width: 1772px; margin: 0 auto; padding-top: 151px;}
#footer .footer-wrap .footer-top{ border-bottom: 2px solid #787878;}
#footer .footer-wrap .footer-top::after{content: ""; clear: both; display: block;}
#footer .footer-wrap .footer-top .footer-logo{float: left; display: flex; flex-direction: column; gap: 60px; justify-content: center; margin-bottom: 10px;}
#footer .footer-wrap .footer-top .footer-list{float: right; display: flex; flex-direction: row; }
#footer .footer-wrap .footer-top .footer-list ul{display: flex; flex-direction: column; width: 289px; gap: 18px; font-size: 13px; font-weight: 600;}
#footer .footer-wrap .footer-top .footer-list ul li a{color: #111; transition: all .1s ease; position:relative;}
#footer .footer-wrap .footer-top .footer-list ul li a::before{position: absolute; left: 0; bottom: 0; content: ""; clear: both; display: block; width: 0; height: 2px; background-color: #840749; transition: all .1s ease;}
#footer .footer-wrap .footer-top .footer-list ul li:first-child{margin-bottom: 5px; font-size: 20px; font-weight: 600;}
#footer .footer-wrap .footer-top .footer-list ul li a:hover{color: #840749;}
#footer .footer-wrap .footer-top .footer-list ul li a:hover::before{ width: 100%;}

/* .footer-bottom 부분 */
#footer .footer-wrap .footer-bottom{color: #787878; margin-top: 4px;}


/* =================================================================
overlay 부분
==================================================================== */


.overlay { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5);
  opacity: 0; pointer-events: none; transition: opacity 0.3s ease; }
.overlay.active { opacity: 1; pointer-events: auto; z-index: 1000; }